#click-button {
    width: 300px;
    height: 100px;
    background: linear-gradient(#ff0000, #ff6f00, #fffb00, #2bff00, #00c3ff, #2605ff, #e100ff);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: #2605ff, 0.5;
}

#click-button:hover {
    /* transform: rotate(45deg) scale(1.5) translate(20px, 30px); */
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}