*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    background-color: rgb(188, 188, 188);
    justify-content: center;
    max-height: 80vh;
    height: 60%;
}


header{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
    align-items: center;
    width: 700px;
    max-width: 700px;
    height: 50%;
    color: blue;
    font-size: 25px;
    font-size: 60px;
    margin-top: 30%;
    border-radius: 15px;
}

main{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(165, 255, 255);
    align-items: center;
    width: 700px;
    max-width: 700px;
    height: 70%;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

footer {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: rgb(159, 255, 255);
    align-items: center;
    width: 700px;
    max-width: 700px;
    height: 30%;
    color: rgb(160, 148, 171);
    border-radius: 15px;
}

#score {
    color: #000;
}

.score-contanir {
    width: 300px;
    height: 100px;
    margin: 20px;
    padding: 20px;
}


